@page
@model RazzorPizzeria.Pages.Checkout.ThankYouModel
@{
}


<h1>Thank you for ordering with us at Razor Sharp Pizzas!</h1>
<div class="col-md-12 text-center">
<a class="btn btn-primary" asp-page="Index">Volver a la página de inicio</a>
<div>